.code {
    background-color: #282C35;
    font-family: 'Source Code Pro', monospace;
    color: #A789FD
}

.a {
    font-size: 4vh;
    font-family: 'Amatic SC', cursive;
    color: #4B0082
} 

.b {
    font-size: 4vh;
    font-family: 'Architects Daughter', cursive;
    color: #228B22
} 

.c {
    font-size: 4vh;
    font-family: 'Caveat', cursive;
    background-color: black;
    color: #DA70D6
} 

.d {
    font-size: 4vh;
    font-family: 'Dancing Script', cursive;
    background-color: black;
    color: 	#00FFFF
} 

.e {
    font-size: 4vh;
    font-family: 'David Libre', serif;
    background-color: black;
    color: #708090
} 

.f {
    font-size: 4vh;
    font-family: 'Fredoka One', cursive;
    background-color: black;
    color: #A789FD
} 

.g {
    font-size: 4vh;
    font-family: 'Inconsolata', monospace;
    color: #800000
} 

.h {
    font-size: 4vh;
    font-family: 'Indie Flower', cursive;
    color: #008B8B
} 

.i {
    font-size: 4vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    color: #A789FD
} 

.j {
    font-size: 4vh;
    font-family: 'Lobster', cursive;
    background-color: black;
    color: #808000
} 

.k {
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: #ADFF2F
} 

.l {
    font-size: 4vh;
    font-family: 'Otomanopee One', sans-serif;
    color: #8B008B
} 

.m {
    font-size: 4vh;
    font-family: 'Pacifico', cursive;
    background-color: black;
    color: #FF00FF
} 
.n {
    font-size: 4vh;
    font-family: 'Pirata One', cursive;
    background-color: black;
    color: #FFD700
} 

.o {
    font-size: 4vh;
    font-family: 'Righteous', cursive;
    color: #FF4500
} 

.p {
    font-size: 4vh;
    font-family: 'Satisfy', cursive;
    color: #FF69B4
} 

.q {
    font-size: 4vh;
    font-family: 'Source Code Pro', monospace;
    color: #B22222
} 

.r {
    font-size: 4vh;
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    color: #FF8C00
} 

.s {
    font-size: 4vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: black;
    color: #BA55D3
} 

.t {
    font-size: 4vh;
    font-family: 'Zen Tokyo Zoo', cursive;
    color: #663399
}

.u {
    font-size: 4vh;
    font-family: 'Satisfy', cursive;
    color: #663399
}

.v {
    font-size: 4vh;
    font-family: 'Lobster', cursive;
    color: #663399
}

.w {
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
    color: #663399
}

.x {
    font-size: 4vh;
    font-family: 'Fredoka One', cursive;
    background-color: black;
    color: skyblue
}

.y {
    font-size: 4vh;
    font-family: 'Amatic SC', cursive;
    color: #663399
}

.z {
    font-size: 4vh;
    font-family: 'Righteous', cursive;
    color: #663399
}