/* font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'David Libre', serif;
font-family: 'Fredoka One', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Otomanopee One', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Titillium Web', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Zen Tokyo Zoo', cursive; */

/* body {
    background-color: #282C35;
}

p {
    font-family: 'Source Code Pro', monospace;
    color: #A789FD
} */

