h3 {
    font-size: 2vh;
    color: blue;
    line-height: 2;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

h3:hover {
    color: magenta
}